@keyframes jump {
	0% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

#add,
#delete {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	line-height: 1;
	transition: all 0.2s ease;
	@include slideInLeft(0s);

	svg {
		transition: fill 0.2s ease;
	}

	div {
		position: relative;
		transition: all 0.2s ease;
		font-weight: 500;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 3px;
			transition: all 0.3s ease;
			border-radius: 3px;
		}
	}
}

#add {
	margin-right: 10px;
	@include setControlButtonColor($addColor);
}

#delete {
	@include setControlButtonColor($deleteColor);
}

.header {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;

	&__logo {
		flex-grow: 1;
		margin-right: 20px;
		padding: 5px;
		font-size: 50px;
		line-height: 1;
		@include slideInRight(0s);

		@media (max-width: $breakpoint700) {
			font-size: 24px;
			margin-right: 0;
		}
	}

	&__controls {
		margin-bottom: 10px;
		display: flex;
		border-bottom: 5px solid $secondary;
		align-items: center;

		@media (max-width: $breakpoint700) {
			padding: 10px 0;
			align-items: center;
		}
	}

	&__filter {
		align-self: stretch;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__marked {
		#marked {
			display: none;
			&:checked + label {
				span {
					color: $markedColor;
				}

				.marked-checked {
					display: block;
					animation: jump 0.3s ease 0s normal;
				}

				.marked {
					display: none;
				}
			}
		}

		#marked + label {
			transition: all 0.2s ease;
			user-select: none;
			cursor: pointer;

			.marked-checked {
				display: none;
				fill: $markedColor;
			}
		}
	}

	&__search {
		flex-grow: 1;
		position: relative;

		#search {
			width: 100%;
			padding: 10px;
			padding-left: 35px;
			border-radius: 10px;
			background-color: rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(0, 0, 0, 0.2);
			transition: all 0.2s ease;

			&:focus {
				outline: none;
				border-color: $secondary;
				background-color: rgba(0, 0, 0, 0.2);
				& + svg {
					fill: $secondary;
				}
			}

			&::placeholder {
				color: rgba(255, 255, 255, 0.3);
			}

			@media (max-width: $breakpoint700) {
				width: 100%;
			}
		}

		svg {
			fill: rgba(255, 255, 255, 0.3);
			position: absolute;
			left: 10px;
			top: 10px;
			transition: all 0.2s ease;
		}
	}
}

$topicListGap: 20px;

.main {
	#nothing {
		display: none;
		align-items: center;
		gap: 10px;
		svg {
			width: 30px;
			height: 30px;
		}
		span {
			font-size: 24px;
			line-height: 1;
			font-weight: 200;
		}

		&.nothing_show {
			display: flex;
		}
	}

	&__topic-list {
		display: flex;
		flex-wrap: wrap;
		gap: $topicListGap;
	}
}

.topic {
	@include slideInTop(0s);
	padding: 10px 15px;
	flex-basis: calc(33.333% - $topicListGap / 1.5);
	position: relative;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.05);
	transition: background 0.3s ease;

	@media (max-width: $breakpoint900) {
		flex-basis: calc(50% - $topicListGap / 1.5);
	}

	@media (max-width: $breakpoint700) {
		flex-basis: 100%;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 5px;
		color: inherit;
	}

	&__mark {
		display: flex;
		align-items: center;
		justify-content: center;

		.icon-marked {
			display: none;
		}

		&.marked {
			svg {
				fill: $markedColor !important;
			}
			.icon-not-marked {
				display: none;
			}
			.icon-marked {
				display: block;
			}
		}
	}

	&__title {
		color: inherit;
		font-size: 16px;
		flex-grow: 1;
	}

	&__edit {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__more {
		display: flex;
		align-items: center;
	}

	&__line {
		height: 3px;
		width: 40%;
		background-color: $secondary;
		border-radius: 3px;
		transition: all 0.3s ease;

		@media (max-width: $breakpoint700) {
			width: 70%;
		}

		&.opened {
			flex-grow: 1;
		}
	}

	&__show-more {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
	}

	&.opened {
		z-index: 100;
		border-radius: 10px 10px 0 0;
		background-color: white !important;
		color: $primary;

		.topic__title {
			text-align: center;
			color: $primary;
		}

		.topic__header,
		.topic__more {
			svg {
				fill: $primary;
			}
		}

		.topic__line {
			background-color: $primary;
			& + button {
				transform: rotate(45deg) scale(1.2);
			}
		}

		.tasks {
			height: 300px;
			visibility: visible;
			background-color: white;
			border-radius: 0 0 10px 10px;

			&__list {
				li span {
					color: $gray;
				}
			}
			&__add {
				color: $primary;
			}
		}
	}
}

.tasks {
	padding: 0 15px;
	width: 100%;
	height: 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.05);
	visibility: hidden;
	transition: all 0.3s ease;
	overflow: hidden;

	&__list {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		li {
			padding: 5px 0;
			display: flex;
			align-items: center;
			gap: 5px;
			user-select: none;
			cursor: pointer;

			svg {
				min-width: 15px;
				min-height: 15px;
				max-width: 15px;
				max-height: 15px;
				fill: $gray;
				transition: fill 0.2s ease;
			}

			span {
				flex-grow: 1;
				color: $gray;
				transition: color 0.2s ease;
			}

			.icon-checked {
				display: none;
			}

			&.checked {
				span {
					color: $primary !important;
					font-weight: 700;
				}

				svg {
					fill: $addColor;
				}

				.icon-wait {
					display: none;
				}
				.icon-checked {
					display: block;
				}
			}

			&:hover {
				.tasks__controls {
					opacity: 1;
				}
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 5px;
		opacity: 0;
	}

	&__delete {
		svg {
			fill: $deleteColor !important;
		}
	}

	&__order {
		svg {
			fill: $primary !important;
		}
	}

	&__add {
		margin-bottom: 15px;
		font-weight: 700;
		transition: all 0.2s ease;
	}
}
