@import './variables';
@import './mixins';
@import './reset.scss';
@import './app.scss';

* {
	font-family: 'Inter', sans-serif;
	color: $secondary;
}

.container {
	margin: 0 auto;
	max-width: $container_width;
	padding-left: $container_padding;
	padding-right: $container_padding;
}

#app {
	min-height: 100vh;
	width: 100vw;

	background: linear-gradient(
		320deg,
		rgba(203, 163, 255, 1) 0%,
		rgb(113, 195, 215) 33.3%,
		rgb(248, 146, 194) 66.6%,
		rgb(117, 128, 212) 100%
	);
	background-size: 1000% 100%;
	animation: gradientAnimation 7s ease infinite alternate;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

svg {
	width: 20px;
	height: 20px;
	fill: $secondary;
}

.svg-button {
	display: flex;
	align-items: center;
	gap: 5px;

	span {
		font-weight: 500;
	}
}

.hoverable {
	padding: 10px 15px;
	border-radius: 10px;
	transition: all 0.2s ease;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	&:active {
		background-color: rgba(0, 0, 0, 0.2);
	}

	@media (max-width: $breakpoint700) {
		padding: 7px 12px;
	}
}
