@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './variables';
@import './reset.scss';
@import './app.scss';

* {
	font-family: Roboto;
	color: $secondary;
}

.container {
	margin: 0 auto;
	max-width: $container_width;
	padding-left: $container_padding;
	padding-right: $container_padding;
}

#app {
	min-height: 100vh;
	width: 100vw;

	background: linear-gradient(
		323deg,
		rgba(203, 163, 255, 1) 0%,
		rgba(113, 215, 183, 1) 46%,
		rgba(97, 108, 190, 1) 100%
	);
	background-size: 1400% 100%;
	animation: gradientAnimation 20s ease infinite alternate;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

svg {
	width: 20px;
	height: 20px;
	fill: $secondary;
}

.svg-button {
	display: flex;
	align-items: center;
	gap: 5px;

	span {
		font-weight: 500;
	}
}

.hoverable {
	padding: 10px 15px;
	border-radius: 10px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	&:active {
		background-color: rgba(0, 0, 0, 0.2);
	}
}
